{% extends "base.html" %}

<!DOCTYPE html>
{% load staticfiles %}
{% block content %}
<html>
<head>
	<title>Firfirey Health</title>
</head>




<style >
	.input-box{
		margin-top: 103px !important;
		z-index: 1000;
	}
	.search-category{
		position: absolute;
		z-index: 100;
		margin-top: 50px;
		margin-left: 70px;
	}
	.search-category>a{
		color: #ffffff;
		margin-right: 20px;
	}
	.my-navbar{
		background: transparent !important;
	}
	@media (max-width: 768px) {
		.my-form{
			margin-top: -7%;
			margin-left: -7% !important;
		}
		.search-category{
			margin-left: 30px;
		}
		.input-box{
			margin-top: 97px !important;
		}
	}
</style>
<body>


<div class="image-slider">
	<div class="layer">

	</div>
</div>

{% block search %}
<div class="container">
		<form class="form-inline my-form">
			<input class="form-control my-input" id="myinputid" onfocusout="myfocusoutinput()"
			onclick="myclickinput()" type="search" placeholder="Hospital/Doctor">
			<div class="search-category">
				<a href="/results/"><span class="fa fa-hospital-o"></span> Hospital</a>
				<a href="#"><span class="fa fa-stethoscope"></span> Doctors</a>
				<a href="#"><span class="fa fa-plus-square"></span> Clinic</a>
				<a href="#"><span class="fa fa-ambulance"></span> Ambulance</a>

			</div>
			<div class="input-box">
					<a class="input-text" onclick="category" href="/results/">Gynecologist</a>
					<a class="input-text" onclick="category" href="">Peadiatrician</a>
					<a class="input-text" onclick="category" href="">Cardiology</a>
					<a class="input-text" onclick="category" href="">Orthopedician</a>
					<a class="input-text" onclick="category" href="">Otorhinolaryngology</a>


			</div>
			<div class="input-group-btn">
				<button class="btn my-btn btn-outline-success" type="submit">
					<p class="btn-text">Search</p>
					<i class="fa fa-search" aria-hidden="true"></i>
				</button>
			</div>
		</form>

</div>
{% endblock search %}

</body>


{% endblock content %}

</html>
